{# this is JINJA TEMPLATE, so use POUND SIGN! #}
{# Extend the template I made in base.html #}
{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes  %}
    <li class="list-group-item">{{ note.data }}
        {# In order to delete the note #}
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
        {# deleteNote is a name of the javascript function #}
        {# Reason for {{note.id}} -> Need to figure out which note it's deleting #}
            <span area-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor%}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">
                Add Note
            </button>
        </div>
    
</form>
{% endblock %}